html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: "Libre Franklin",
        "Helvetica Neue",
        helvetica,
        arial,
        sans-serif;
}

main {
    display: flex;
    position: relative;
    height: 100%;
}

section {
    width: 100vw; /* 100% of the viewport width */
    height: calc(100vh - 48px); /* Subtract the height of the footer */
    justify-content: center;
    align-items: center;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.tag {
    font-size: 13px;
    color: white;
    border: solid;
    border-color: transparent;
    border-radius: 50px;
    padding: 0 8px;
    letter-spacing: 0.08em;
    margin: 2px 0;
}

h1 {
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 15px 0;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    margin: 20px 0;
    margin-left: 20px;
    padding-left: 5px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    background-color: white;
}

#intropage {
    background: url('background.jpg') center/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.contents {
    padding: 6% 5%;
    animation: slideIn 1s ease-out forwards;
    display: flex;
    flex-direction: column; /* Set the direction to column */
    height: 100%;
    overflow: auto;
}

.introbox {
    display: flex;
}

.bar {
    width: 20px;
}

.introtext {
    padding: 0 20px;
    background-color: transparent;
    max-width: 400px;
}

.text {
    letter-spacing: 0.05em;
    line-height: 1.5;
}

h2 {
    font-size: 28px;
    margin: 0;
    width: fit-content;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

:root {
    --project-color: #69cdff;
    --code-color: #a6e4f9;
    --art-color: #caecf3;
}

.nav {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    width: fit-content;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    position: relative;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--project-color);
    transition: color 0.3s ease;
    font-family: "Libre Franklin",
        "Helvetica Neue",
        helvetica,
        arial,
        sans-serif;
}

.nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--project-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: left 0.3s ease, background-color 0.3s ease;
    z-index: -1;
}

.nav:hover::before {
    left: 0;
    background-color: var(--project-color);
}

/* Specificity increased for :hover */
.nav:hover {
    color: white !important;
}

.projectbutton {
    color: var(--project-color);
}

.projectbutton::before {
    background-color: var(--project-color);
}

.projectbutton:hover::before {
    left: 0;
    background-color: var(--project-color);
}

/* Specificity increased for :hover */
.projectbutton:hover {
    color: white;
}

.codebutton {
    color: var(--code-color);
}

.codebutton::before {
    background-color: var(--code-color);
}

.codebutton:hover::before {
    left: 0;
    background-color: var(--code-color);
}

/* Specificity increased for :hover */
.codebutton:hover {
    color: white;
}

.artbutton {
    color: var(--art-color);
}

.artbutton::before {
    background-color: var(--art-color);
}

.artbutton:hover::before {
    left: 0;
    background-color: var(--art-color);
}

/* Specificity increased for :hover */
.artbutton:hover {
    color: white;
}

.icon {
    width: 30px;
    margin: 10px;
}

.footericon {
    height: 28px;
    margin: 5px 10px;
}

/* PROJECTS */
.projectlist {
    overflow-y: auto; /* Enable vertical scrolling for the projectlist */
    flex-grow: 1; /* Allow the projectlist to grow and take remaining space */
    max-height: calc(100% - 200px);
}

/* Add this if needed to style the scroll bar */
.projectlist::-webkit-scrollbar {
    width: 8px;
}

.projectlist::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.projectlist::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.gamepro {
    display: flex;
    /* margin-bottom: 50px; */
    flex-direction: row;
}

.projectimg {
    margin-right: 40px;
    position: relative;
    display: inline-block;
}

.projectimg video {
    width: 800px;
    height: 450px;
    object-fit: cover; /* You can use 'cover' or 'contain' depending on your preference */
}

.projectpic {
    display: block;
    width: 800px;
    height: 450px;
}

.text-container {
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    max-width: 400px;
    min-width:390px;
    height: 450px;
}

.thumbnail {
    height: 100px; /* Set the desired height for the videos */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.thumbnail:hover {
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
}

/* CODE */
.codelist {
    overflow-y: auto; /* Enable vertical scrolling for the projectlist */
    flex-grow: 1; /* Allow the projectlist to grow and take remaining space */
    max-height: calc(100% - 250px);
}

/* Add this if needed to style the scroll bar */
.codelist::-webkit-scrollbar {
    width: 8px;
}

.codelist::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.codelist::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.codeimage {
    width: 300px;
    height: 300px;
    background-size: cover;
    position: relative;
    display: inline-block;
}

.codeimage:hover .overlay {
    opacity: 1;
}

img.codepic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 30px;
}

/* ART */
.art {
    height: 300px; /* Set the desired height for the videos */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.vid {
    height: 300px; /* Set the desired height for the videos */
    max-width: 100%; /* Ensure videos don't exceed the width of the container */
    width: auto; /* Maintain aspect ratio */
}

.indexlist {
    overflow-y: auto; /* Enable vertical scrolling for indexlist */
    max-height: 100vh; /* Set maximum height for vertical scrolling */
    max-height: calc(100% - 200px);
    padding-right: 10px;
}

.artlist {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scrolling for artlist */
    max-width: 100%; /* Set maximum width for horizontal scrolling */
}

/* .artlist::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
}

.artlist::-webkit-scrollbar-track {
    background-color:white;
}

.artlist::-webkit-scrollbar-thumb {
    background-color: #a6e4f9;
    border-radius: 80px;
} */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000; /* Adjust z-index for overlay */
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Adjust z-index for popup container */
    text-align: center; /* Center content */
}

#popup-image {
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    display: block;
}

#overlay button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

#overlay button.prev {
    position: fixed;
    left: 30px;
}

#overlay button.next {
    position: fixed;
    right: 30px;
}

#overlay button.close {
    position: fixed;
    top: 30px; /* Adjust top positioning */
    right: 30px; /* Adjust right positioning */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px; /* Add padding for better visibility */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #69cdff;
    color: white;
    /* padding: 5px; */
}

@keyframes slideIn {
    from {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      transform: translateX(0); /* Move to the original position */
      opacity: 1; /* Fade in */
    }
}

@media only screen and (max-width: 600px) {
    .gamepro {
        flex-direction: column;
        /* margin-bottom: 30px; */
    }

    .projectimg {
        margin: 0;
    }

    .projectimg video,
    .projectpic {
        width: 100%; /* Make the image or video scale with the width of its container */
        height: auto; /* Automatically adjust the height to maintain aspect ratio */
        object-fit: cover; /* You can use 'cover' or 'contain' depending on your preference */
    }

    .text-container {
        margin-top: 5px;
        min-width: 0;
        height: auto;
    }
}